{% load static %}

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">

    <!-- DASHBOARD -->
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>

        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{% url 'dashboard_v1' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard v1</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dashboard_v2' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard v2</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'dashboard_v3' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard v3</p>
                </a>
            </li>
        </ul>
    </li>

    <!-- OTHER MENU ITEMS -->
    <li class="nav-item">
        <a href="{% url 'customer_creation' %}" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Customer Selection</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'item_creation' %}" class="nav-link">
            <i class="nav-icon fas fa-box"></i>
            <p>Item Creation</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'opportunity_creation' %}" class="nav-link">
            <i class="nav-icon fas fa-lightbulb"></i>
            <p>Opportunity Creation</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'feasibility_form' %}" class="nav-link">
            <i class="nav-icon fas fa-file-alt"></i>
            <p>Feasibility Form</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'BOM' %}" class="nav-link">
            <i class="nav-icon fas fa-cogs"></i>
            <p>BOM Creation</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'BOP' %}" class="nav-link">
            <i class="nav-icon fas fa-industry"></i>
            <p>BOP Creation</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'BOC' %}" class="nav-link">
            <i class="nav-icon fas fa-project-diagram"></i>
            <p>BOC Creation</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'CostingBCCal' %}" class="nav-link">
            <i class="nav-icon fas fa-calculator"></i>
            <p>Costing & BC Calculations</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'BlanketSales' %}" class="nav-link">
            <i class="nav-icon fas fa-file-invoice"></i>
            <p>Blanket Sales Order</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'ApproveRec' %}" class="nav-link">
            <i class="nav-icon fas fa-check"></i>
            <p>Approve Record</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'Report' %}" class="nav-link">
            <i class="nav-icon fas fa-chart-bar"></i>
            <p>Report</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'todo' %}" class="nav-link">
            <i class="nav-icon fas fa-tasks"></i>
            <p>To-Do List</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'erp_data' %}" class="nav-link">
            <i class="nav-icon fas fa-database"></i>
            <p>ERP Data</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'upload_data' %}" class="nav-link">
            <i class="nav-icon fas fa-upload"></i>
            <p>Upload Data</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'user_management' %}" class="nav-link">
            <i class="nav-icon fas fa-user-cog"></i>
            <p>User Management</p>
        </a>
    </li>

    <!-- BOTTOM -->
    <li class="nav-item mt-3">
        <a href="{% url 'register' %}" class="nav-link">
            <i class="nav-icon fas fa-user-plus"></i>
            <p>Register</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'admin:logout' %}" class="nav-link text-danger">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Logout</p>
        </a>
    </li>

</ul>